<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="alert alert-warning" *ngIf="this.errMessage">{{this.errMessage}}</div>
    <form #theForm="ngForm" (submit)="onLogin()" novalidate>
      <div class="form-group">
        <label for="username">Username</label>
        <input #username="ngModel" [(ngModel)]="creds.username" required type="text" class="form-control" name="username" />
        <span *ngIf="username.invalid && username.dirty && username?.errors?.required" class="text-danger">Username is required</span>
        
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input  #password="ngModel" type="password" required  [(ngModel)]="creds.password" class="form-control" name="password" />
        <span *ngIf="password.invalid && password.dirty && password?.errors?.required" class="text-danger">Password is required</span>
      </div>
      <div class="form-group">
        <input type="submit" [disabled] ="theForm.invalid" class="btn btn-success" value="Login" />
        <a [routerLink]="['/login']" class="btn btn-default">Cancel</a>
      </div>
    </form>
  </div>
</div>