@model IEnumerable<Working.Models.Trip>
@{
    ViewBag.Title = "Home Page";
}
<h3>Working</h3>
<div class="row">
    <div class="col-md-6">
        <form action="#">
            
                <div class="form-group">
                    <label for="">Date</label>
                    <input class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Location</label>
                    <input class="form-control">
                </div>
            
             <input type="submit" value="Add" class="btn btn-success">

        </form>
    </div>
    <div class="col-md-6">
        <h2>Map</h2>
        <ul>
            @foreach (var item in Model)
            {
                <li>@item.Name :  @item.DateCreated.ToShortDateString()</li>

            }
        </ul>
        
    </div>
</div>